Appli/Debug/
Appli/HW_Crypto/
Appli/SW_Crypto/
FSBL/Debug/
FSBL/Release/
ExtMemLoader/Debug
bin/*.bin
bin/log.txt
bin/*.crt
bin/*.pem
bin/config.json
bin/generated_iotconnect_identity/
__pycache__/
Appli-trusted.bin
FSBL-trusted.bin

# Development backups & debug artifacts
_st_bugreport_artifacts/
_w61_bus_v1.2.0_backup/
Middlewares/ST/ST67W6X_Network_Driver.v120_backup/